<ul>
    <li><img [src]="user.photoURL"></li>
    <li>Name: <span>{{user.displayName || 'N/A'}}</span></li>
    <li>User Id: <span>{{user.userId || 'N/A'}}</span></li>
    <li>Email: <span>{{user.email || 'N/A'}}</span></li>
    <li>Phone: <span>{{user.phoneNumber || 'N/A'}}</span></li>
    <li>Age: <span>{{user.dob || 'N/A'}}</span></li>
    <li>Access: <span>{{user.access.access || 'N/A'}}</span></li>
    <li>Status: <span>{{user.status.access || 'N/A'}}</span></li>
    <li>Aadhaar No: <span>{{user.aadhaarNumber || 'N/A'}}</span></li>
    <li>Pan Card No: <span>{{user.panCardNumber || 'N/A'}}</span></li>
    <li>Gender: <span>{{user.gender || 'N/A'}}</span></li>
</ul>