* {
  font-family: var(--font-one);
}

.container {
  margin-left: 1%;
  margin-top: 3%;
  position: relative;
  #heading {
    font-size: var(--medium);
    font-weight: 600;
  }

  .box {
    background-color: var(--primary-light);
    margin: 3% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
.new_message{
  cursor: pointer;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  i{
    font-size: 20px;
  }
  &:hover{
    transform: scale(1.02);
  }

}
    .inner-box {
      display: flex;
    }

    .inner-box-second {
      display: flex;
      background-color: #fff;
      padding: 05px;
      border-radius: 05px;

      input {
        background-color: #fff;
        color: var(--primary);
        border: none;

        &:focus {
          outline: none;
        }
      }

      img {
        width: 30px;
        fill: #969696;
        margin-right: 05px;
      }
    }

    button {
      background-color: #fff;
      border: none;
      color: var(--primary);
      border-radius: 05px;
      margin-right: 15px;
    }

    .select {
      background-color: #fff;
      color: var(--primary);
      border-radius: 5px;
      padding: 0px 5px;
      padding-top: 10px;
      display: flex;
      align-items: center;

      input {
        border-radius: 50%;
        color: var(--primary);
        margin-left: 10px;
        margin-top: 2px;
      }

      #round {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid var(--primary);
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        &:checked {
          appearance: auto;
          clip-path: circle(50% at 50% 50%);
          background-color: blue;
        }
      }
    }
  }
  .list-container {
    max-height: 500px;
    overflow-y: auto;
  }

  .parent-container {
    display: flex;
    flex-wrap: wrap;
  }

  .bottom {
    margin: 1em;

    textarea {
      border-radius: 10px;
      border: none;
      border: 1px solid var(--primary);
      color: #000;
      &:focus {
        border: 2px solid var(--primary);
      }
    }

    label {
      font-size: var(--small);
      display: block;
      margin-bottom: 20px;
      color: #000;
      font-weight: 500;
    }

    .buttons {
      display: flex;
      margin-top: 0.5em;

      button {
        margin-right: 10px;
      }
    }
  }
}
