<div class="container">
    <p id="heading">Notifications({{notification}})</p>
    <hr>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
    <app-notification-widget></app-notification-widget>
</div>

