:root {
  --post-background: "";
}

#top {
  background-color: var(--secondary);
  border-radius: var(--more-radius);
  padding: 1em;
  margin-bottom: 1em;

  #center {
    width: 15%;
    margin: 0 auto;

    #profile-photo {
      position: relative;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    #upload-photo-wrapper {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      background-color: #adadad;
      border-radius: 50%;
      position: relative;
      align-items: center;
      cursor: pointer;
      transition: all 0.4s;

      #upload-photo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        img {
          width: 60%;
        }

        p {
          color: var(--primary-contrast);
          font-size: var(--xsmall);
          font-family: var(--font-one);
          margin: 0.5em 0;
        }

        input {
          display: none;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--post-background);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        filter: brightness(0.6);
        transition: all 0.4s;
      }

      &:hover {
        background-color: #888888;

        &::before {
          filter: brightness(0.4);
        }
      }
    }
  }
}

#container {
  padding: 2em;

  .data-field {
    margin-bottom: 1.5em;

    h4,
    label {
      font-weight: 600;
      font-family: var(--font-one);
      font-size: var(--xsmall);
      color: var(--tertiary);
      margin: 0;
      display: block;
    }

    p,
    input {
      font-family: var(--font-one);
      font-size: var(--xsmall);
      color: var(--tertiary);
      margin: 0;
      display: block;
      width: 100%;
    }

    input {
      padding: 0.5em;
      margin-top: 0.25em;
      border: 1px solid var(--primary);
      border-radius: var(--normal-radius);
    }
  }

  .flex-data-fields {
    display: flex;
    align-items: flex-start;

    .data-field {
      width: 50%;

      &:first-of-type {
        margin-right: 0.5em;
      }
    }
  }

  #buttons {
    display: flex;
    margin-top: 1em;

    button:not(:last-of-type) {
      margin-right: 0.5em;
    }
  }
}
