div{
  p{
    font-size: 20px;
    b{
      color:var(--primary);
    }
  }
}
ul{
  li{
    list-style: none;
    padding:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 4px;
    p{
      font-size: 20px;
      margin-bottom: 0px;
    }
    p.rejected{color:var(--danger);}
    p.pending{
      color:var(--warning);
    }
    p.approved{
      color:var(--success)
    }
    p.incomplete{
      color:orange;
    }
  }
}