<div class="table-container">
  <table>
    <tr>
      <th width=30%>Customer</th>
      <th width=15%>Ticket
        number</th>
      <th width=40%>Ticket
        Summary</th>
      <th width=15%>Time</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of items">
      <td class="user">
        <img [src]="item.avatar">
        <div class="userData">
          <p>{{item.displayName}}</p>
          <p class="email">{{item.email}}</p>
        </div>
      </td>
      <td>
        <p>{{item.id}}</p>
      </td>
      <td>
        <div class="container">
          <p>{{item.problem.subject}}</p>
          <p>{{item.problem.description}}</p>
        </div>
      <td>
        <p>{{item.date.toDate() | date:'medium'}}</p>
      </td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fa-solid fa-ellipsis-vertical"></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="setStatus(item.id || '','resolved')" *ngIf="item.status!=='resolved'">Mark As
            Resolved</button>
          <button mat-menu-item (click)="setStatus(item.id || '','unresolved')" *ngIf="item.status!=='unresolved'">Mark
            As Un-Resolved</button>
          <button mat-menu-item (click)="setStatus(item.id || '','ongoing')" *ngIf="item.status!=='ongoing'">Mark As
            OnGoing</button>
        </mat-menu>
      </td>
    </tr>
  </table>
</div>